.gt-button {
  width: 100%;
  border: none;
  background: #339d51;
  border-radius: 59px;
  height: 60px;
  cursor: pointer;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: white;
}
